{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container ">
    <div class="row ">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="logo-font text-center mb-4">Appointment</h2>
            <hr class="w-50 mx-auto mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="appointment-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input type="text" name="your_name" class="form-control" placeholder="Your Name"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input type="text" name="your_phone" class="form-control" placeholder="Your Phone"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input type="email" name="your_email" class="form-control" placeholder="Your Email"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <input type="text" name="your_address" class="form-control" placeholder="Your Address"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <label for="select1">Choose a Service (select one):</label>
                                <select name="your_hours" class="form-control" id="select1" required>
                                    <option value="Home_Cleaning">Home Cleaning </option>
                                    <option value="Office_Cleaning">Office Cleaning </option>
                                    <option value="Post_Renovation_Cleaning">Post Renovation Cleaning </option>
                                    <option value="Post_Party_Cleaning">Post Party Cleaning </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-30">
                                <label for="date1">Your preferred date:</label>
                                <input type="date" name="your_date" class="form-control" id="date1" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <a href="{% url 'services' %}" class="btn btn-outline-black rounded-pill mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">See Another Service</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-pill  text-uppercase mt-5"
                                    style="float: right;" value="Add to Cart">

                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}