{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-container ">
    <div class="row ">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <!-- title-->
    <div class="row">
        <div class="col text-center bg-text-title pt-2 text-title">
            <h1 class="logo-font mb-4">Cart</h1>
            <hr class="w-50 mx-auto my-auto mb-0">
        </div>
    </div>
    <!--card-->
    <div class="container mt-4 mb-4">
        <div class="row " style="height: 60px"></div>
        <div class="row d-flex cart align-items-center justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    {% if cart_items %}
                    <div class="d-flex justify-content-center border-bottom">
                        <div class="p-3">

                            <p class="text-black my-auto">Your cart information is below. </p>
                            <hr class=" text-black">
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col bg-light">
                            <div class=" border-bottom">
                                <!--cart items-->
                                {% for item in cart_items %}
                                <div class="row g-0 border-bottom">
                                    <div class="col text-center align-middle ">
                                        <p class="mt-4 "><i class="fa fa-clock-o text-muted"></i> Service Date:
                                            <p class="small  mb-0 text-black fst-italic">
                                                {{ item.date }}</p>
                                        </p>
                                        <h6 class="mt-4 mb-0">{{ item.service.name }}</h6>
                                        <p class="small mt-4 text-black mb-0">{{ item.quantity }} @
                                            £{{ item.service.price }}
                                            each = £{{ item.service.price | calc_subtotal:item.quantity }}</p>
                                        <!-- inc/decrement quantity-->
                                        <form class="form px-5 py-3 update-form" method="POST"
                                            action="{% url 'adjust_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button
                                                            class="decrement-qty qty_modify btn btn-sm btn-black rounded-start"
                                                            data-item_id="{{ item.item_id }}"
                                                            id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="8"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button
                                                            class="increment-qty qty_modify btn btn-sm btn-black rounded-end"
                                                            data-item_id="{{ item.item_id }}"
                                                            id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>

                                                    <input type="hidden" name="your_date" value="{{ item.date }}">

                                                </div>
                                            </div>
                                        </form>
                                        <!--update/remove -->
                                        <a href="#" class="update-link mb-3 ps-5 text-success"
                                            style="float: left"><small>Update</small></a>
                                        <a href="#" class="remove-item mb-3 pe-5 text-danger " style="float: right"
                                            id="remove_{{ item.item_id }}"
                                            data-your_date="{{ item.date }}"><small>Remove</small></a>
                                    </div>
                                    <!-- service image-->
                                    <div class="col-md-6">
                                        {% if item.service.image %}
                                        <img class="img-fluid service-img mt-3 mb-1" src="{{ item.service.image.url }}"
                                            alt="{{ item.service.name }}">
                                        {% else %}
                                        <img class="img-fluid service-img mt-3 mb-1" src="{{ MEDIA_URL }}default.jpg"
                                            alt="{{ item.service.name }}">
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            <!--subtotal-->
                            <div class="row g-0 border-bottom">
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center">
                                        <span>Subtotal</span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center">
                                        <span>£{{ total|floatformat:2 }}</span>
                                    </div>
                                </div>
                            </div>
                            <!--discount-->
                            <div class="row g-0 border-bottom">
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center">
                                        <span>Discount</span> </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center">
                                        <span>£{{ discount|floatformat:2 }}</span> </div>
                                </div>
                            </div>
                            <!--Grand total-->
                            <div class="row g-0 border-bottom">
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center"> <span
                                            class="fw-bold">Total</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="p-3 d-flex justify-content-center align-items-center"> <span
                                            class="fw-bold">£{{ grand_total|floatformat:2 }}</span>
                                    </div>
                                </div>
                            </div>
                            <!--Back and checkout buttons-->
                            <div class="row g-0 ">
                                <div class="col-6">
                                    <div class=" p-3 d-flex align-items-center text-start ">
                                        <a href="{% url 'services' %}" class="btn  btn-outline-black rounded-pill"
                                            style="font-size: .7rem;">
                                            <span class="icon">
                                                <i class="fas fa-arrow-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class=" p-3 align-items-center">
                                        <a href="{% url 'checkout' %}" class="btn btn-black rounded-pill"
                                            style=" float: right; font-size: .7rem;">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div>
                                    </div>
                                    <!--BTT button-->
                                    <a class=" btn btn-floating shadow-sm rounded-pill">
                                        <i class="fas fa-arrow-up text-black"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% else %}
    <p class="lead text-center text-muted mb-5 mt-5">Your cart is empty, </p>
    <div class="text-center mb-3 ">
        <a href="{% url 'services' %}" class="btn btn-fresh btn-sm rounded-pill">
            <span class="icon">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text-uppercase">Keep Shopping</span>
        </a>
    </div>
    {% endif %}
</div>




{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/qty_modify.js' %}"></script>

<script>
    $('.btn-floating').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script>
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var date = $(this).data('your_date');
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'your_date': date
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}