{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center bg-text-title pt-2 text-title">
            <h1 class="logo-font mb-4">Checkout</h1>
            <hr class="w-50 mx-auto my-auto mb-0">
        </div>
    </div>
    <!-- order element-->
    <div class="row">
        <div class="row " style="height: 80px"></div>
        <div class="card mt-5 mb-5 text-center col-12 col-lg-10 offset-lg-1 ">
            <div class=" card my-4 ">
                <div class="card-body">
                    <div class="col-12 col-lg-10 offset-lg-1  mb-5">
                        <p class="text-muted">Order Summary ({{ services_count }})</p>
                        <hr class=" text-black">
                        <div class="row">
                            <div class="col-3 col-lg-2">
                                <p class="mb-1 mt-0 small text-muted">Image</p>
                            </div>
                            <div class="col-6 col-lg-7">
                                <p class="mb-1 mt-0 small text-muted">Item</p>
                            </div>
                            <div class="col-3 col-lg-3 p-0 text-end">
                                <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                            </div>
                        </div>
                        <!-- cart items-->
                        {% for item in cart_items %}
                        <div class="row">
                            <div class="col-3 col-lg-2 pb-2">
                                <a href="{% url 'service_detail' item.service.id %}">
                                    {% if item.service.image %}
                                    <img class="img-fluid" src="{{ item.service.image.url }}" alt="{{ service.name }}">
                                    {% else %}
                                    <img class="img-fluid" src="{{ MEDIA_URL }}default.jpg" alt="{{ service.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-6 pt-3 col-lg-7">
                                <p class="my-0 small">{{ item.service.name }}</p>
                                <p class="my-0 small">Date:
                                    {{ item.date }}</p>
                                <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                            </div>
                            <div class="col-3 col-lg-3 p-0 pt-3 text-end">
                                <p class="my-0 small text-muted">£{{ item.service.price | calc_subtotal:item.quantity }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        <hr class="my-0">
                        <div class="row text-black">
                            <div class="col-8 p-0 text-start ">
                                <p class="my-0">Order Total:</p>
                                <p class="my-0">Discount:</p>
                                <p class="my-0"><strong>Grand Total:</strong></p>
                            </div>
                            <div class="col-4 p-0 text-end ">
                                <p class="my-0">£{{ total | floatformat:2 }}</p>
                                <p class="my-0">£{{ discount | floatformat:2 }}</p>
                                <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-10 offset-1">
                <p class="text-muted">Please fill out the form below to complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Address</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <div class="form-check form-check-inline float-right me-0">
                            {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this address information to my
                                profile</label>
                            <input class="form-check-input ms-2 me-0" type="checkbox" id="id-save-info" name="save-info"
                                checked>
                            {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Pass the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-button text-start mt-5 mb-2">
                        <a href="{% url 'view_cart' %}" class="btn btn-sm btn-outline-black rounded-pill">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span class="fw-bold">Adjust Cart</span>
                        </a>
                        <button id="submit-button" class="btn btn-sm btn-black rounded-pill" style="float: right">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}