html {
    height: 100%;
}

body {
    background: url('/media/home_background.jpg') no-repeat center fixed;
    background-size: cover;
    height: 80vh;
    color: #00b7ff;

    font-family: 'Merriweather',
        serif;
}

.bg-opaque {
    background: rgba(0, 0, 0, .5);
}

.logo-font {
    text-transform: uppercase;
}

.dropdown-menu {
    background: rgba(0, 0, 0, .75);
}

.bg-black {
    background: #000 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* ----- Containers----*/

.buy-container {
    text-align: justify;
    margin: auto;
}

.discount-container {
    position: relative;

    margin-top: -10px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ----- Buttons----*/
.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    border: 1px solid black;
    background: white;
    color: black !important;
    /* important to override link color */
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* important to override link color */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* ---- Media Q ----*/

/* Slightly larger container on xl screens 
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}*/

/* Fixed top navbar on med and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 9999;
    }



    .header-container {
        padding-top: 100px;
    }

    .discount-container {
        margin-top: 70px;
    }
}


@media (max-width: 774px) {
    .bg-opaque {
        background: rgba(0, 0, 0, .5);
        position: relative;

    }
}